html{
  overflow:hidden;
  background: url(../images/background.png)
}

#hero{
  position: fixed;
  top: 533px;
  left: 49%;
  -moz-transform: scaleX(-1);
   -o-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
}
#hero img{
  width: 27px;
  padding:10px;
}
#hero2 img{
  width: 25px;
}
#createPlayer{
  display: block;
  margin:5% auto;
}
#createPlayer button, input {
  display: block;
  margin:0 auto;
}
#createPlayer h1{
  font-weight: lighter;
  text-align: center;
}
#game-board{
  width:100%;
}
#intro{
  font-family: 'Krona One', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
#name {
  padding:10px;
  width:250px;
}
#mark{
  position: absolute;
  width:60px!important;
  margin-top: -60px;
  margin-left:-20px;
}
.defend{
  float:left;
  width: 50px;
}
.shield{
  display: inline-block;
  width: 150px;
  height: 80px;
  margin-top: -45px;
}
.attack{
  float:left;
  z-index: 10;
  left: 33px;
  position: absolute;
  width: 30px;
}
.fireball{
  width: 30px;
  transform:rotate(90deg);
}
.start{
  text-align: center;
  margin-top: 118px;
  font-size: 40px;
}
.enemy{
  width:40px;
  margin-top: 388px;
}
.enemyImg {
  position: absolute;
  z-index: 5;
  width:35px;
}
.info{
  position: absolute;
  top:8px!important;
  border: 5px solid gray;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  -moz-box-shadow:3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
  background-color: rgba(0,0,0,0.4);
  border-radius: 0.3em;
  padding-left: 30px;
  line-height: 5px;
  color:white;
  width:150px;
}
.info p {
color:lightgreen;
}
.how-to{
  text-align: center;
  margin:100px auto;
}
.spellbook{
  position: absolute;
  width: 22px;
  margin-top:21px;
  left:500px;
}
.healthBar{
  font-size: 25px;
  color:red;
  font-weight: bold;
  margin-top: -20px;
}
.hit{
  position: absolute;
  z-index: 1;
  margin-top: -20px;
  width: 80px;
}
.herobook{
  width:33px!important;
}
